// ==========================================================================
// Helpers & Helper classes
// ==========================================================================

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Screen reader text

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// For pseudo-elements

%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

%aside-block {
	background-color: $bgcolor-light;
	border: $border-default;
	padding: 9px;
}

%ul-default {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

%panel-tabs {
  display: inline-block;
  margin: 0;
  font-weight: 200;
  cursor: pointer;
}

%panel-list {
  ul {
      padding: 0;
      li {
        list-style-type: none;
        border-bottom: 1px dashed #ddd;
        text-align: center;
        padding: 3%;
        &:last-child {
          border: 0;
        }
        &:hover {
          background: desaturate(rgba($color-primary, 0.5), 50%);
        }
        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
}

// responsive images

%img-resp {
  img {
  max-width: 100%;
  height: auto;
  }
}

%vertical-align {
  position: relative;
  top: 50%;
  @include translateY(-50%);
}

/***********************
 *  Helper classes
 **********************/
.clear {
  clear: both;
}

.views-title {
  text-align: center;
  @include adjust-font-size-to(32px);
  @include adjust-leading-to(1, 32px);
  @include responsive (sm) {
    @include adjust-font-size-to(22px);
    @include adjust-leading-to(1, 22px);
  }
  @include responsive(xs) {
    @include adjust-font-size-to(15px);
    @include adjust-leading-to(1, 15px);    
  }
}

.maxHeight {
  height: 100% !important;
}

.menuHeight {
  height: 100%;
  padding-bottom: 2%;
}

.hidden {
  display: none;
}

.img-responsive {
  max-width: 100%;
}

.under_construction {
  background: image-url('Site-under-construction.gif');
  width: image-width('Site-under-construction.gif');
  height: image-height('Site-under-construction.gif');
  margin: 3em auto;
}

.mute-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $sps-blue;
  }
}