// ==========================================================================
// Main
// ==========================================================================

body {
	font-family: $font-family--primary;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background-color: $bgcolor-light;
}

.wrapper {
	width: 70%;
	@include responsive(1580px) {
		width: 100%;
	}
	height: 100%;
	margin: 0 auto;
	background: rgba(218, 218, 218, 0.43);
	font-size: 1.6em;
	@include box-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.container {
	width: 60%;
	@include responsive(1100px) {
		width: 64%;
	}
	@include responsive(md) {
		width: 100%;
		float: none;
		margin: 0 1% 2%;
	}
	margin: 0 $margin-side-lg; 
	float: left;
	@extend %clearfix;
	margin-bottom: 2%;
}

.aside {
	width: 27%;
	margin-right: $margin-side-lg;
	float: right;
}

.bottom--container {
	clear: both;
	margin-left: $margin-side-lg;
	margin-right: $margin-side-lg;
	border: $border-default;
	background: linear-gradient($bgcolor-light, $white);
	@extend %clearfix;
	@include padding(top, $padding-botsection-default-lg); // Work with opposite?
	@include padding(bottom, $padding-botsection-default-lg);
	@include responsive (md) {
		margin-left: $margin-side-md;
		margin-right: $margin-side-md;
		width: 98%;
	}
}

.bottom__section {
	float: left;
	width: 27%;
	height: 460px;
	border: $border-default-black;
	margin-left: $margin-botsection-default-lg;
	background: desaturate(rgba($color-primary, 0.2), 80%);
	.flipper {
		height: inherit;
		width: inherit;
	}
	&--contact {
		width: 36%;
		margin-right: $margin-botsection-default-lg;
		overflow: hidden;
		border: 0;
		background: none;
		@include responsive(md) {
			width: 100%;
			margin-top: $margin-section-small;
		}
		img {
			max-width: 100%;
		}
		@include responsive(xs) {
			width: 96%;
		}
	}
	&--downloads {
		@extend %panel-list;
		@include responsive(md) {
			width: 46%; // not DRY
			margin-right: $margin-botsection-default-lg;
		}
		@include responsive(sm) {
			width: 67%;
			margin: 0 auto;
			height: 414px;
			float: none;
		}
		h3 {
			text-align: center;
		}
		@include responsive(xs) {
			width: 93%;
		}
	}
}

.clubblad {  // need to fix name to BEM (bottom__section--clubblad)
	&__image {
		max-width: 74% !important;
	}
	@include responsive(md) {
		width: 46%; // not DRY
		margin-left: $margin-botsection-default-lg;
	}
	@include responsive(sm) {
		display: none;
	}
}

.contact {
	padding: 2% 0 4% 37%;
	background-color: scale-lightness(complement($bgcolor-light), -19%);
	@extend %clearfix;
	@include responsive(md) {
		padding-left: 29%;
	}
	@include responsive(sm) {
		padding: 0 0 0 12%;
	}
	@include responsive(xs) {
		padding-left: 20%;
	}
	&--image {
		max-width: 100%;
		float: left;
		@include responsive(xs) {
			display: none;
		}
	}
	&--info {
		float: left;
		h2 {
			@include responsive(xs) {
				text-align: center;
			}
		}
	}
}

.leden {
	padding: 2% 0 3% 0;
	border-top: $border-default;
	@include display-flex;
	@include justify-content(space-around);
	background-color: $bgcolor-light;
	@include responsive(md) {
		@include flex-direction(column);
		padding: 0 3% 3%;
		text-align: center;
	}
	&--image {
		margin-top: 6%;
		@include responsive(md) {
			display: none;
		}
	}
}


.locatie {
	border-top: $border-default;
	@extend %clearfix;
	@include display-flex;
	padding: 2% 5% 3% 5%;
	@include justify-content(space-around);
	@include responsive(md) {
		@include flex-direction(column);
		padding: 0 3% 3%;
		text-align: center;
	}
}


.locatie--sponsor {
	width: 30%;
	@include responsive(md) {
		width: 96%;
	}
}

.locatie--kantine {
	width: 55%;
	@include responsive(md) {
		width: 96%;
	}
}

.bestuur-lockup {
  border-top: $border-default;
  border-bottom: $border-default;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: $bgcolor-light;;
  text-align: center;
  .bestuur {
    background: rgba(0,139,227,0.90);
    color: #000;
    width: 37%;
    height: 175px;
    border-radius: 3px;
    box-shadow: 4px 4px 3px $bgcolor-dark;
    padding: 15px;
    position: relative;
    display: inline-block;
    margin: 0.8%;
    @include responsive (md) {
    	display: block;
    	margin: 0 auto 1em;
    	width: 62%;
    }
    @include responsive(656px) {
    	width: 75%;
    }
    @include responsive(540px) {
    	width: 85%;
    }
    @include responsive(489px) {
    	width: 96%;
    	padding: 11px;
    }
    .bestuur_status {
      font-weight: bold;      
      p:first-child {
        margin-bottom: 0;
        font-size: 163%;
        margin-top: 0.3rem;
        @include responsive(xs) {
        	font-size: 100%;
        	font-weight: normal;
        }
      }
      p:last-child {
        margin-top: 0;
        color: white;
        letter-spacing: 0.05em;
        font-size: 130%;
        @include responsive(xs) {
        	font-size: 100%;
        	font-weight: normal;
        }
      }
      
    }
    .bestuur_info {
      position: absolute;
      bottom: 15px;
      left: 15px;
      text-align: left;
      p:last-child {
        margin-bottom: 0;
      }
    }
    img {
      border-radius: 50%;
      border: 1px solid white;
      float: right;
    }
  }
}

.competitie__info {
	background: $bgcolor-light;
	margin: 0;
	clear: both;
	width: 80%;
	padding: 1% 0;
	text-align: center;
	a[href]:visited {
		color: black;
	}
}
 
.vrijwilligers {
	background: tomato;
	border-top: $border-default;
	padding: 1% 2%;
}
