<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tafeltennisvereniging ATTC '77</title>
  <meta name="description" content="Wilt u ATTC'77 contacteren of lid worden van onze vereniging dan vindt u hiervoor de informatie op deze pagina.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../css/application.css">

  <style>
  footer {
    margin-top: 0;
  }
  </style>
</head>

<body>
  <div class="wrapper">
    <header>
        <div class="header--logo">
          <h1>ATTC '77</h1>
        </div>
        <div class="menu">
          Menu<i class="fa fa-reorder fa-1x"></i>
        </div>
        <nav>
          <ul>
            <li>
              <a class="header__links" href="../index.html">Home</a>
            </li>
            <li>
              <a class="header__links" href="competitie.html">Competitie</a>
            </li>
            <li>
              <a class="header__links" href="fotos.html">Foto's</a>
            </li>
            <li>
              <a class="header__links" href="#">Algemene informatie</a>
            </li>
            <li>
              <a class="header__links" href="gastenboek.html">Gastenboek</a>
            </li>
          </ul>
        </nav>

    </header>
    <!-- END OF HEADER -->
    <h1 class="views-title">Algemene Informatie</h1>
    
   
      <section class="contact">
        <div class="contact__lockup">
        <img class="contact--image" src="../img/informatie/contact_icon.png">
          <div class="contact--info">
          <h2>Contact</h2>
            <p>Tafeltennishal ATTC '77</p>
            <p>Jan van Rixtelstraat 30</p>
            <p>5735 GA AARLE-RIXTEL</p>
            <p>06-22176068</p>
            <p>attc77@chello.nl</p>
           </div> 
        </div> 
      </section>


      <section class="leden"> 
        <div class="contributie">
          <h2>Contributie</h2>
          <table class="footable">
            <thead>
              <tr>
                <th>Senioren</th>
                <th>Jeugd</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&euro;  72,- per jaar</td>
                <td>&euro;  60,- per jaar</td>
              </tr>
            </tbody>
          </table>
          <img class="leden--image" src="../img/informatie/leden_thumb.png" alt="img">
        </div>
        
        

        <div class="speeltijden">
        <h2>Speeltijden</h2>
        <table class="footable table">
          <thead>
            <tr>
              <th>Dag</th>
              <th>Tijden</th>
              <th>Voor wie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Maandag</td>
              <td>19.00 - 20.00 uur</td>
              <td>Jeugd</td>
            </tr>
            <tr>
              <td></td>
              <td>20.00 - 23.00 uur</td>
              <td>Senioren</td>
            </tr>
            <tr>
              <td>Woensdag</td>
              <td>19.00 - 20.00 uur</td>
              <td>Jeugd</td>
            </tr>
            <tr>
              <td></td>
              <td>20.00 - 22.00 uur</td>
              <td>Senioren</td>
            </tr>
            <tr>
              <td>Donderdag</td>
              <td>20.00 - 24.00 uur</td>
              <td>Recreanten</td>
            </tr>
            <tr>
              <td>Vrijdag</td>
              <td>09.00 - 12.00 uur</td>
              <td>Recreanten</td>
            </tr>
            <tr>
              <td></td>
              <td>20.00 - 24.00 uur</td>
              <td>Competitie senioren</td>
            </tr>
            <tr>
              <td>Zaterdag</td>
              <td>13.30 - 16.30 uur</td>
              <td>Competitie jeugd</td>
            </tr>
          </tbody>
        </table>
        </div>
      </section>
    
     <section class="locatie">
      <div class="locatie--kantine">
        <h2>Locatie</h2>
        <img class="img-responsive" src="../img/informatie/kantine.jpg" alt="kantine" />

          <p class="info_text">
          A.T.T.C. '77 speelt in de gymzaal aan de Jan van Rixtelstraat 30 te Aarle-Rixtel. Hierboven ziet u een plaatje van de kantine.
          </p>
      </div>

      <div class="locatie--sponsor">
        <h2>Hoofdsponsor - SPS</h2>
        <p>Small Processor Systems</p>

            <img src="../img/informatie/sps-medium.jpg" alt="SPS" />

            <p>
            Voorzitter Mark Rovers (links) en oud-voorzitter Karel van der Putten.
            </p>

      </div>
    </section>

    <section class="vrijwilligers">
      <h2>Gedragsregels Vrijwilligers</h2>
      <p>Door NOC*NSF zijn gedragsregels opgesteld voor vrijwilligers om het risico op ongewenst gedrag tussen jeugdleden en begeleiders te verkleinen. ATTC '77 houdt de vrijwilligers aan deze gedragsregels. U kunt ze nalezen via deze link: <a href="http://nocnsf.nl/grensoverschrijdend-gedrag/gedragsregels-seksuele-intimidatie">http://nocnsf.nl/grensoverschrijdend-gedrag/gedragsregels-seksuele-intimidatie</a></p>


    </section>
      
      <section class="bestuur-lockup">
        <h2>Bestuur</h2>
        <div class="bestuur">

            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="gezicht1" />

          <div class="bestuur_status pull-left">
            <p>Mark Rovers</p>
            <p>Voorzitter</p>
          </div>
          <div class="bestuur_info">
            <p>
            Kannelustweg 2A
                        <br />
  5735 EK Aarle-Rixtel
                        <br />
  0492-382438
          </p>
          </div>
        </div>
        <div class="bestuur">

            <img src="../img/informatie/bestuur_johan.png" />

          <div class="bestuur_status pull-left">
            <p>Johan Heurter</p>
            <p>Secretaris</p>
          </div>
          <div class="bestuur_info">
            <p>
            Lange Akker 33
                        <br />
  5735 HD Aarle-Rixtel
                        <br />
  0492-382017
          </p>
          </div>
        </div>
        <div class="bestuur">

            <img src="../img/informatie/bestuur_william.png" />

          <div class="bestuur_status pull-left">
            <p>William Vlamings</p>
            <p>Penningmeester</p>
          </div>
          <div class="bestuur_info">
            <p>
            Wevestraat 87
                        <br />
  5708 AE Helmond
                        <br />
  0492-544437
          </p>
          </div>
        </div>
        <div class="bestuur">

            <img src="../img/informatie/bestuur_frederieke.png" />

          <div class="bestuur_status pull-left">
            <p>Frederieke v.d. Poel</p>
            <p>PR</p>
          </div>
          <div class="bestuur_info">
            <p>
            Gasthuisstraat 53
                        <br />
  5708 HJ Helmond
                        <br />
  0492-545658
          </p>
          </div>
        </div>
        <div class="bestuur">

            <img src="../img/informatie/bestuur_karel.png" alt="gezicht1" />

          <div class="bestuur_status pull-left">
            <p>Karel van der Putten</p>
            <p>Wedstrijdsecretaris</p>
          </div>
          <div class="bestuur_info">
            <p>
            Terlingenplein 12
                        <br />
  5735 BS Aarle-Rixtel
                        <br />
  0492-382574
          </p>
          </div>
        </div>
    </section>
    
    <!-- END OF BOT SECTION -->
    <footer class="clear">
      <h5>&copy; <a class="mute-link" target="_blank" href="http://www.psy-dev.nl">psy-dev.nl</a> (2014)</h5>
    </footer>
    <!-- END OF WRAPPER -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../js/main.min.js"></script>
  <script src="../js/footable.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48558556-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>

</html>
