<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tafeltennisvereniging ATTC '77</title>
  <meta name="description" content="Hier vindt u alle informatie over de teams van ATTC '77 die dit seizoen competitie spelen. ATTC '77 speelt haar wedestrijden in de regio Zuid-West">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- <link rel="stylesheet" href="../css/vendor/magnific-popup.css"> -->
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>

<body>
  <div class="wrapper">
    <header>
        <div class="header--logo">
          <h1>ATTC '77</h1>
        </div>
        <div class="menu">
          Menu<i class="fa fa-reorder fa-1x"></i>
        </div>
        <nav>
          <ul>
            <li>
              <a class="header__links" href="../index.html">Home</a>
            </li>
            <li>
              <a class="header__links" href="#">Competitie</a>
            </li>
            <li>
              <a class="header__links" href="fotos.html">Foto's</a>
            </li>
            <li>
              <a class="header__links" href="algemene-informatie.html">Algemene informatie</a>
            </li>
            <li>
              <a class="header__links" href="gastenboek.html">Gastenboek</a>
            </li>
          </ul>
        </nav>

    </header>
    <!-- END OF HEADER -->
    <h1 class="views-title">Competitie voorjaar 2015</h1>


    <div id="modal-window">
      
    </div>

  

    <table class="compTeam" cellspacing="0">
      <tr>
        <td class="teamName" colspan="2">Team 1</td>
        <td class="league" colspan="1">1e klasse <a class="image" href="#modal-window"><img class="team_photo" rel="team1" src="../img/informatie/team1_thumb.jpg" alt="team photo"></a></td>
      </tr>
      <tr>
        <td class="player">W. Vlamings</td>
        <td class="bondsnummer">2528949</td>
      </tr>
      <tr>
        <td class="player">B. Boetzkes</td>
        <td class="bondsnummer">2934205</td>
      </tr>
      <tr>
        <td class="player">J-P. Kanters</td>
        <td class="bondsnummer">3633462</td>
      </tr>
    </table>

     <table class="compTeam" cellspacing="0">
      <tr>
        <td class="teamName" colspan="2">Team 2</td>
        <td class="league" colspan="1">3e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
      </tr>
      <tr>
        <td class="player">C. van der Putten</td>
        <td class="bondsnummer">1800291</td>
      </tr>
      <tr>
        <td class="player">J. Voorhout</td>
        <td class="bondsnummer">3797313</td>
      </tr>
      <tr>
        <td class="player">T. Segers</td>
        <td class="bondsnummer">3553191</td>
      </tr>
      <tr>
        <td class="player">F. van de Poel</td>
        <td class="bondsnummer">1800306</td>
      </tr>
      <tr>
        <td class="player">B. Biemans</td>
        <td class="bondsnummer">3425314</td>
      </tr>
    </table>

     <table class="compTeam" cellspacing="0">
      <tr>
        <td class="teamName" colspan="2">Team 3</td>
        <td class="league" colspan="1">4e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
      </tr>
      <tr>
        <td class="player">K. van der putten</td>
        <td class="bondsnummer">1254424</td>
      </tr>
      <tr>
        <td class="player">J. Beniers</td>
        <td class="bondsnummer">2646103</td>
      </tr>
      <tr>
        <td class="player">M. Rovers</td>
        <td class="bondsnummer">3226744</td>
      </tr>
      <tr>
        <td class="player">M. Elshof</td>
        <td class="bondsnummer">2342783</td>
      </tr>
    </table>

     <table class="compTeam" cellspacing="0">
      <tr>
        <td class="teamName" colspan="2">Team 4</td>
        <td class="league" colspan="1">5e klasse <img class="team_photo" rel="team4" src="../img/informatie/team4_thumb.jpg" alt="team photo"></td>
      </tr>
      <tr>
        <td class="player">J. van de Elzen</td>
        <td class="bondsnummer">2184509</td>
      </tr>
      <tr>
        <td class="player">J. Heurter</td>
        <td class="bondsnummer">1403374</td>
      </tr>
      <tr>
        <td class="player">J. Martinali</td>
        <td class="bondsnummer">2837699</td>
      </tr>
      <tr>
        <td class="player">T. Smulders</td>
        <td class="bondsnummer">3353923</td>
      </tr>      
    </table>

     <table class="compTeam" cellspacing="0">
      <tr>
        <td class="teamName" colspan="2">Team 5</td>
        <td class="league" colspan="1">6e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
      </tr>
      <tr>
        <td class="player">J. Doensen</td>
        <td class="bondsnummer">3316337</td>
      </tr>
      <tr>
        <td class="player">V. Braak</td>
        <td class="bondsnummer">3630333</td>
      </tr>
      <tr>
        <td class="player">D. van den Elsen</td>
        <td class="bondsnummer">3745015</td>
      </tr>
      <tr>
        <td class="player">M. van Krieken</td>
        <td class="bondsnummer">3630367</td>
      </tr>            
    </table>

    <table class="compTeam" cellspacing="0">
      <tr>
        <td class="teamName" colspan="2">Team 6</td>
        <td class="league" colspan="1">6e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
      </tr>
      <tr>
        <td class="player">S. Vergroesen</td>
        <td class="bondsnummer">2785193</td>
      </tr>
      <tr>
        <td class="player">J. van de Broek</td>
        <td class="bondsnummer">2191988</td>
      </tr>
      <tr>
        <td class="player">T. van den Boogaard</td>
        <td class="bondsnummer">3938862</td>
      </tr>  
      <tr>
        <td class="player">M. van Klingeren</td>
        <td class="bondsnummer">3553167</td>
      </tr>       
    </table>

    <div class="competitie__info">
      <p> Voor de meest actuele standen en percentages:
      <a target="_blank" href="http://nttb-zuidwest.nl/index.php?&page=Competitie&type=1">nttb-zuidwest</a>
      </p>
      <p> Voor meer tafeltennis statistieken:
      <a target="_blank" href="http://ttkaart.nl/">ttkaart.nl</a>
      </p>
    </div>

    <!-- END OF BOT SECTION -->
    <footer class="clear">
      <h5>&copy; <a class="mute-link" target="_blank" href="http://www.psy-dev.nl">psy-dev.nl</a> (2014)</h5>
    </footer>
    <!-- END OF WRAPPER -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../js/main.min.js"></script>
<!--   <script src="../js/jquery.magnific-popup.min.js"></script>

  <script>
    $('.image').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      image: {
        verticalFit: true
      }
    });
  </script> -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48558556-2', 'auto');
    ga('send', 'pageview');

  </script>

</body>

</html>