<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tafeltennisvereniging ATTC '77</title>
  <meta name="description" content="ATTC'77 is een tafeltennisvereniging uit Aarle-Rixtel.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../../css/application.css">

  <link rel="stylesheet" href="../../js/lightbox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="../../js/lightbox/source/helpers/jquery.fancybox-buttons.css">
  <link rel="stylesheet" href="../../js/lightbox/source/helpers/jquery.fancybox-thumbs.css"> 
</head>

<body>
  <div class="wrapper">
    <header>
        <div class="header--logo">
          <h1>ATTC '77</h1>
        </div>
        <div class="menu">
          Menu<i class="fa fa-reorder fa-1x"></i>
        </div>
        <nav>
          <ul>
            <li>
              <a class="header__links" href="../../index.html">Home</a>
            </li>
            <li>
              <a class="header__links" href="../competitie.html">Competitie</a>
            </li>
            <li>
              <a class="header__links" href="../fotos.html">Foto's</a>
            </li>
            <li>
              <a class="header__links" href="../#">Algemene informatie</a>
            </li>
            <li>
              <a class="header__links" href="../gastenboek.html">Gastenboek</a>
            </li>
          </ul>
        </nav>

    </header>
    <!-- END OF HEADER -->
    <h1 class="views-title">Feestavond 2014</h1>
    
	<div class="gallery">
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3404.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3404.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3405.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3405.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3406.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3406.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3407.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3407.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3408.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3408.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3409.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3409.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3410.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3410.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3411.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3411.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3412.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3412.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3413.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3413.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3414.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3414.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3415.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3415.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3416.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3416.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3417.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3417.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3418.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3418.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3419.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3419.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3421.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3421.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3422.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3422.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3423.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3423.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3424.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3424.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3425.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3425.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3426.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3426.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3427.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3427.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3428.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3428.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3429.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3429.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3430.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3430.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3431.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3431.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3432.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3432.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3433.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3433.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3434.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3434.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3435.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3435.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3436.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3436.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3437.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3437.jpg" alt=""></a>
      <a class="fancybox" rel="feestavond2014" href="../../img/feestavond_2014/IMG_3438.JPG"><img src="../../img/feestavond_2014/thumbnails/IMG_3438.jpg" alt=""></a>

        <div class="btn-default"><a href="../fotos.html">terug</a></div>
    </div>


    

    <!-- END OF BOT SECTION -->
    <footer class="clear">
      <h5>&copy; <a class="mute-link" target="_blank" href="http://www.psy-dev.nl">psy-dev.nl</a> (2014)</h5>
    </footer>
    <!-- END OF WRAPPER -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="../../js/lightbox/source/jquery.fancybox.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-buttons.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-media.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-thumbs.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox({
      afterShow: function() {
          $(".fancybox-title").wrapInner('<div />').show();
          
          $(".fancybox-wrap").hover(function() {
              $(".fancybox-title").show();
          }, function() {
              $(".fancybox-title").hide();
          });
      },
      prevEffect: 'none',
      nextEffect: 'none',
      padding: '0',
      helpers : {
          title: {
            type: 'over'
          },
          thumbs: {
            width: 150,
            height : 100
          }
      }
      });
  });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48558556-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>

</html>




