<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tafeltennisvereniging ATTC '77</title>
  <meta name="description" content="ATTC'77 is een tafeltennisvereniging uit Aarle-Rixtel.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../../css/application.css">

  <link rel="stylesheet" href="../../js/lightbox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="../../js/lightbox/source/helpers/jquery.fancybox-buttons.css">
  <link rel="stylesheet" href="../../js/lightbox/source/helpers/jquery.fancybox-thumbs.css"> 
</head>

<body>
  <div class="wrapper">
    <header>
        <div class="header--logo">
          <h1>ATTC '77</h1>
        </div>
        <div class="menu">
          Menu<i class="fa fa-reorder fa-1x"></i>
        </div>
        <nav>
          <ul>
            <li>
              <a class="header__links" href="../../index.html">Home</a>
            </li>
            <li>
              <a class="header__links" href="../competitie.html">Competitie</a>
            </li>
            <li>
              <a class="header__links" href="../fotos.html">Foto's</a>
            </li>
            <li>
              <a class="header__links" href="../#">Algemene informatie</a>
            </li>
            <li>
              <a class="header__links" href="../gastenboek.html">Gastenboek</a>
            </li>
          </ul>
        </nav>

    </header>
    <!-- END OF HEADER -->
    <h1 class="views-title">Luikse markt 2015</h1>
    
	<div class="gallery">
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3498.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3498.jpg" alt=""></a>
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3499.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3499.jpg" alt=""></a>
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3500.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3500.jpg" alt=""></a>
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3501.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3501.jpg" alt=""></a>
     <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3502.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3502.jpg" alt=""></a>
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3503.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3503.jpg" alt=""></a>
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3504.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3504.jpg" alt=""></a>
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3505.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3505.jpg" alt=""></a>
      <a class="fancybox" rel="luiksmarkt2015" href="../../img/luikse_markt2015/IMG_3506.jpg"><img src="../../img/luikse_markt2015/thumbnails/IMG_3506.jpg" alt=""></a>

        <div class="btn-default"><a href="../fotos.html">terug</a></div>
    </div>


    

    <!-- END OF BOT SECTION -->
    <footer class="clear">
      <h5>&copy; <a class="mute-link" target="_blank" href="http://www.psy-dev.nl">psy-dev.nl</a> (2014)</h5>
    </footer>
    <!-- END OF WRAPPER -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="../../js/lightbox/source/jquery.fancybox.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-buttons.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-media.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-thumbs.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox({
      afterShow: function() {
          $(".fancybox-title").wrapInner('<div />').show();
          
          $(".fancybox-wrap").hover(function() {
              $(".fancybox-title").show();
          }, function() {
              $(".fancybox-title").hide();
          });
      },
      prevEffect: 'none',
      nextEffect: 'none',
      padding: '0',
      helpers : {
          title: {
            type: 'over'
          },
          thumbs: {
            width: 150,
            height : 100
          }
      }
      });
  });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48558556-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>

</html>




