// ==========================================================================
// Articles
// =========================================================================
.container article {
  position: relative;
  @include responsive(md) {
    float: left;
    width: 71%;
    height: 500px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }
  @include responsive(sm) {
    width: 98%;
  }      
}
.post {
  border: $border-default;
  background: $bgcolor-light;
  padding: 0 3.5% 1.5%;
  margin-bottom: 3%;
  a {
    color: rgb(33, 101, 192);
  }
  &__title {
    font-size: 2em;
    line-height: 1;
  }
  &__image {
  	@include padding(left, 12px);
  	@include padding(bottom, 10px);
  	float: right;
    @include responsive(md) {
      display: none;
    }
  }
  &--warning {
    display: none;
    @include responsive(md) {
      background: rgba(grayscale($sps-blue), 0.9);
      position: absolute;
      right: 0;
      display: block;
      bottom: 0;
      padding: 5px;
      p {
        margin: 0;
      }
    }
  }
}


.sticky {
  background: rgb(160, 205, 255);
  border: 1px solid red;
  &:first-child {
    margin-top: 3%;
  }
  .news__title a:link, .news__title a:visited {
    color: red !important;
  }
}

.post-info {
  margin-top: 0;
  font-style: italic;
  font-size: 80%; 
  color: rgb(96, 109, 113);
  a:visited, a:link {
    color: rgb(33, 101, 192);
  }
}

.post .news__title {
  margin-bottom: 0.5%;
  a:link, a:visited {
    color: $black;
    text-decoration: none;
    font-size: 125%;
  }
}