// ==========================================================================
// Articles
// =========================================================================
.container article {
  position: relative;
  @include responsive(md) {
    float: left;
    width: 71%;
    height: 500px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }
  @include responsive(sm) {
    width: 98%;
  }      
}
.news {
  border: $border-default;
  background: $bgcolor-light;
  padding: 0 3.5% 1.5%;
  display: none;
  &.active {
    display: block;
  }
  &__title {
    font-size: 2em;
    line-height: 1;
  }
  &__image {
  	@include padding(left, 12px);
  	@include padding(bottom, 10px);
  	float: right;
    @include responsive(md) {
      display: none;
    }
  }
  &--warning {
    display: none;
    @include responsive(md) {
      background: rgba(grayscale($sps-blue), 0.9);
      position: absolute;
      right: 0;
      display: block;
      bottom: 0;
      padding: 5px;
      p {
        margin: 0;
      }
    }
  }
}


