// ==========================================================================
// Articles
// =========================================================================
.container article {
  position: relative;
  @include responsive(md) {
    float: left;
    width: 71%;
    height: 500px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }
  @include responsive(sm) {
    width: 98%;
  }      
}
.post, .type-page, .type-portfolio {
  border: $border-default;
  background: $bgcolor-light;
  padding: 0 3.5% 1.5%;
  margin-bottom: 3%;
  @extend %clearfix;
  a {
    color: rgb(33, 101, 192);
  }
  &__title {
    font-size: 2em;
    line-height: 1;
  }
  .wp-post-image {
    @extend %blog-img;
  	float: right;
    @include responsive(md) {
      display: none;
    }
  }
  .news__title {
    margin-bottom: 0.5%;
    a:link, a:visited {
      color: $black;
      text-decoration: none;
      font-size: 125%;
    }
  }
  &--warning {
    display: none;
    @include responsive(md) {
      background: rgba(grayscale($sps-blue), 0.9);
      position: absolute;
      right: 0;
      display: block;
      bottom: 0;
      padding: 5px;
      p {
        margin: 0;
      }
    }
  }
}


.sticky {
  background: rgb(160, 205, 255);
  border: 1px solid red;
  .news__title a:link, .news__title a:visited {
    color: red !important;
  }
}

.post.sticky {
  margin-left: 3%;
  margin-top: -2.7em;
  width: 94%;
}

.post-info {
  margin-top: 0;
  font-style: italic;
  font-size: 80%; 
  color: rgb(96, 109, 113);
  a:visited, a:link {
    color: rgb(33, 101, 192);
  }
}

.single-post .post {
  margin: 3% 0 0;
}

article.post-aside, article.post-link {
  font-size: 125%;
  background: #fff5cb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.mini-meta {
  font-size: 68%;
  margin: 0;
  color: #777;
  text-align: right;
}

article.post-link {
  padding: 0;
  background: #9BECA9;
}

article.post-link a {
  display: block;
  padding: 20px;
}