// ==========================================================================
// Buttons
// ==========================================================================
%button {
	width: 150px;
	padding: 15px;
	text-align: center;
	font-size: 1.5em;
	@include border-radius(10px);
	a {
		text-decoration: none;
		color: $white;
		@extend %vertical-align;
	}
}

@mixin button ($color: $color-primary) {
	@extend %button;
	background:  $color;
	border-bottom: 5px solid scale-lightness($color, -30%);
	&:hover {
		background: scale-lightness($color, 10%);
		border-bottom: 5px solid $color;
	}
}

.btn-default {
	@include button;

}

#box    {  
	width: 100%;
	height: 100%;
	@include box-shadow(inset 1px 1px 40px 0 rgba(0,0,0,.45));
	background: #{$clubblad_image};
	background-size:cover;
	background-position-x: 54%;
	overflow:hidden;
}
	#overlay {  
		background:rgba(0,0,0,.75);
		text-align:center;
		padding:45px 0 66px 0;
		opacity:0;
		height: inherit;
		width: inherit;
		position: relative;
		line-height: 347px;
		@include transition(opacity .45s ease);
	}

		#box:hover #overlay {
			opacity:1;
		}

			#clubblad__download       {  
				font-family: $font-family--primary;
				font-weight: 900;
				color: $coral;
				font-size: 32px;
			}
