// ==========================================================================
// Header
// ==========================================================================

header {	
	@include background(radial-gradient(center, rgba(darken($sps-blue, 30%), 1), #1b2225));
	padding: 0 4.5em;
	@include side-border(bottom, $white);
	@extend %clearfix;
	@include heights(10rem);
	@include responsive(1150px) {
		height: 10rem;
		line-height: 5em;
		padding: 0;
	}
	@include responsive(md) {
		height: 8em;
	}	
	position: relative;
	text-transform: uppercase;
	.header--logo {
		float: left;		
		text-shadow: 3px 3px 1px darken($color-primary, 40%);
		font-family: $font-family--secondary;
		color: $white;
		@include responsive(1150px) {
			float: none;
			padding-top: 1em;
		}
		@include responsive(780px) {
			padding-top: 0;
		}
		h1 {
			margin: 0;
			font-size: 3.7rem;
			@include responsive(sm) {
				font-size: 2.7rem;
			}
		}
	}
}

.header--background {
	@include responsive(md) {
		height: 275px;
		/* background: image-url("main--bg.jpg") 58% 67% no-repeat; */ // !ADD MEDIUM IMAGE!
	}
	@include responsive(sm) {
		height: 230px;
		/* background: image-url("main--bg.jpg") 40% 62% no-repeat; */
	}
	background: url("../img/main--bg.JPG") 112% 63% no-repeat;
  	background-size: 100%;
  	min-width: 100%;
  	height: 350px;
  	border-bottom: 1px solid white;
}

.welcome--info {
	@include responsive(865px) {
		font-size: 1.7em;
	}
	@include responsive(md) {
		font-size: 1.4em;
		@include heights(68px);
		top: -4.2rem;
	}
	@include responsive(sm) {
		font-size: 1em;
		@include heights(56px);
		top: -3.5rem;
		letter-spacing: 0.01em;
		text-align: center;
	}
	width: 100%;
    position: relative;
    background: none repeat scroll rgba(darken($color-primary, 10%), 0.93);
    padding: 0px 15px 15px;
   	@include side-border(bottom, $white);
   	@include side-border(top, $white);
    @include heights(75px);
    text-align: right;
    color: $white;
    letter-spacing: 0.2em;
    top: -4.7rem;
    margin: 0;
}

.news__header {
	@include responsive(md) {
		font-size: 1.4em;
		margin-top: -2.2em;
		@include heights(60px);
		letter-spacing: 0.05em;
	}
	@include responsive(sm) {
		@include heights(56px);
		margin-top: -2em;
		margin-bottom: 2%;
	}
	background-color: $black;
	@include heights(70px);
	color: $white;
	padding-left: 14%;
	font-size: 2em;
	margin-top: -1.7em;
}