// ==========================================================================
// Tables and Frames
// ==========================================================================

%table-competitie {
	border-bottom: 1px #6699CC dotted;
	text-align: left;
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: .7em;
	color: #404040;
	background-color: #fafafa;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px;
}

table.compTeam { 
	width: 45%;
	background-color: $color-primary;
	border: 1px #000000 solid;
	border-spacing: 1px; 
	position: relative;
	float: left;
	margin: 0 2% 2% 2%;
	@include responsive(md) {
		width: 70%;
		float: none;
		margin: 2em auto;
	}
	@include responsive(sm) {
		width: 88%;
	}
	@include responsive(xs) {
		width: 96%;
		margin: 1em auto;
	}
}


td.teamName { 
	background-color: $color-primary;
	border: 1px #000000 solid;
	font-family: $font-family--primary;
	font-weight: bold;
	font-size: 16px;
	color: $black; 
	padding: 8px;
	width: 70%;
	@include responsive(sm) {
		width: 42%;
	}
}

td.league {
	text-align: center;
	font-weight: bold;
}

td.player { 
	@extend %table-competitie;
	width: 53%;
}

td.bondsnummer { 
	@extend %table-competitie;
	width: 16%;
	@include responsive(sm) {
		width: 22%;
	}
}

.team_photo {
	height: 92px;
	width: 28%;
	position: absolute;
	right: 9px;
	bottom: 7px;
	&:hover {
		cursor: pointer;
	}
	@include responsive(sm) {
		display: none;
	}
}

.wrapper {
	@extend %clearfix;
}

// Iframe

#nttb-site {
	width: 96%;
	margin-left: 2%;
	height: 425px;
	@include responsive (md) {
		display: none;
	}
}