// ==========================================================================
// Tabs
// ==========================================================================

%tabs-color-active {
  color: #fff;
  background: #666;
}


// Bottom tabs


.tab-panels ul {
  @extend %ul-default;
  li {     
    @include panel-tabs();
    font-size: 1.2em;
    .active {
      @extend %tabs-color-active;
    }
    &:hover {
      @extend %tabs-color-active;
    }
  }
}

.tab-panels {
  .panel {
    display: none;
    background: desaturate(rgba($color-primary, 0.2), 80%);
    padding: 15px;
    border-radius: 0 5px 10px 10px;
    height: 430px;
    width: 430px;
    color: black;
    &.active {
      display: inline-block;
    }
  }
}

.tab-panels ul li.active {
  @extend %tabs-color-active;
}

.contact p {
  line-height: 0.5em;
  &:last-child {
    font-weight: bold;
  }
}

// News tabs

.news-tabs { // Tab container
  @extend %clearfix;
  @include responsive(md) {
    float: left;
    width: 27%;
  }
  @include responsive(sm) {
    width: 98%;
    font-size: 15px;
    color: #333;
  }
  .news-tab { // Single tabs
    @include responsive(md) {
      width: 100%;
      height: 100px;
      padding-top: 12%;
      line-height: 1.5;
      border-right: 0;
    }
    @include responsive(sm) {
      @include heights(45px);
      padding: 0;
      @include side-border(right, $white);
    }
    float: left;
    width: 33.33%;
    padding: 2% 2% 0 2%;
    height: 75px;
    background: desaturate(lighten(#008BE3, 25), 25);
    border: $border-default;
    border-bottom: 0;
    color: #666;
    text-align: center;
    font-size: 15px;
    position: relative;
    letter-spacing: 0.03em;
    overflow:hidden;
    text-overflow: ellipsis;
    span {
      display: none;
    }
    &:hover {
      cursor: pointer;
      background: lighten($color-primary, 15%);
    }
    &.news-active {
      background: $color-primary;
      color: $black;
      font-style: italic;
      color: $white;
      span {
        display: inline;
        position: absolute;
        bottom: -11px;
        color: $white;
        left: 80%;
        @include responsive(md) {
          display: none;
        }
      }
    }  
  }
}

#ntab2 { // CLEAN UP CODE TO NTH CHILD 2
  border-left: 0;
  border-right: 0;
  @include responsive(md) {
    @include side-border(left, $white);
  }
  @include responsive(sm) {
    @include side-border(right, $white);
  }
}

#ntab3 {
  @include responsive(md) {
    @include side-border(bottom, $white);
  }
  @include responsive(sm) {
    border-bottom: 0;
  }
}

.news {
  h1 {
    @include responsive(md) {
      margin: 0;
      line-height: 1em;
    }
    @include responsive(sm) {
      @include adjust-font-size-to(1.45em);
      margin-bottom: -1em;
      text-align: center;
    }
  }
  h5 {
    font-style: italic;
    font-weight: 400;
  }
}